@tailwind base;
@tailwind components;
@tailwind utilities;

/* import fonts from /fonts/ and name variables 



*/

@font-face {
  font-family: "EBGaramond";
  src:
    url("/fonts/EBGaramond-Italic.ttf") format("ttf"),
    url("/fonts/EBGaramond.ttf") format("ttf");
}

@font-face {
  font-family: "Kanit";
  src:
    url("/fonts/Kanit-Bold.ttf") format("ttf"),
    url("/fonts/Kanit-Regular.ttf") format("ttf"),
    url("/fonts/Kanit-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Noto";
  src:
    url("/fonts/NotoSerifJP-Bold.otf") format("otf"),
    url("/fonts/NotoSerifJP-Regular.otf") format("otf");
}

#sanityStudio > div {
  height: calc(100vh - 68px) !important;
}

.yarl__thumbnails.yarl__thumbnails_bottom {
  width: 100%;
}

li {
  font-family: "Kanit" !important;
}

textPath {
  font-family: "Noto" !important;
  font-size: 8px;
  letter-spacing: 0.2rem;
}

h1,
label {
  font-family: "EBGaramond" !important;
}

h2 {
  font-family: "Kanit" !important;
  font-size: 1.5rem;
}

p,
input,
button,
select,
textarea {
  font-family: "Noto" !important;
}

a {
  display: flex;
  font-family: "Noto" !important;
  flex-wrap: wrap;
  align-content: center;
}

.circle-button {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.main_circle_text {
  position: absolute;
  font-size: 13px;
  animation: animete_circle_txt 10s linear infinite;
}

@keyframes animete_circle_txt {
  100% {
    transform: rotate(360deg);
  }
}

.sender {
  justify-content: flex-start;
}

.recipient {
  justify-content: end;
}

.gradient-mask {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f4ece7);
  pointer-events: none; /* Ensures the gradient doesn't interfere with clicks on the image */
}

.scroll-shadows {
  scrollbar-width: 10px; /*thin;*/
  scrollbar-color: #17212d #ffffff;
}

.scroll-shadows::-webkit-scrollbar {
  width: 10px;
}

.scroll-shadows::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.scroll-shadows::-webkit-scrollbar-thumb {
  background-color: #17212d; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  /* height of the scrollbar is   */
}

.arrow_box {
  position: relative;
  background-color: #7f8119;
}

.dragged {
  box-shadow: "0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12)";
  opacity: 100%;
  border: 5px solid #7f8119;
  border-radius: 0;
  z-index: 9999999;
}

.drag-item {
  display: flex;
  cursor: grab;
  user-select: none;
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
